.homeContainer{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    overflow: hidden;
    .pageContainer{
        width: calc(100% - 200px);
        height: 100%;
    }
    .layout{
        overflow-y: auto;
        height: calc(100% - 50px);
    }
    .routeContainer{
        width: calc(96% - 50px);
        // max-width: 1140px;
        margin: 0 auto;
        
    }
}