.recommendation{
    padding: 0 30px;
}
.routerTitle{
    display: flex;
    font-size: 18px;
    align-items: center;
    margin: 20px 0 10px;
    span{
        cursor: pointer;
    }
}
.songList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


