.homeFooter{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    z-index: 10;
}